html,
body {
    color: #505050;
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.75em;
}
a {
    color: #e67e22;
    outline: none;
}
a:hover {
    color: #e67e22;
}
a:active,
a:focus,
a img {
    outline: none;
}
.btn {
    padding: 7px 14px;
    border-radius: 2px;
}
.btn-default {
    border: 1px solid #e67e22;
    background: #e67e22;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-default:hover {
    border: 1px solid #303030;
    background: #303030;
    color: #ffffff;
}
.btn-default:focus {
    outline: none;
}
.btn-default[disabled] {
    border: 1px solid #303030;
    background: #303030;
    color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
    padding: 7px 7px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #e67e22;
    outline: none;
}
blockquote {
    border-left: 4px solid #e67e22;
}
pre {
    padding: 0;
    background: none;
    border: none;
}
::-moz-selection {
    color: #ffffff;
    background: #e67e22;
    text-shadow: none;
}
::selection {
    color: #ffffff;
    background: #e67e22;
    text-shadow: none;
}

/*====================================================
	header
====================================================*/
.main-header {
    text-align: center;
    padding: 42px 0;
    background: #ffffff;
}
.main-header .branding {
    font-size: 3.5em;
    color: #303030;
}
.main-header .branding:hover {
    text-decoration: none;
}
.main-header .branding img {
    max-width: 100%;
}
.home-template .main-header {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url("../images/header-bg.jpg");
}

/*

 */
.card-user {
    position: relative;
}
.card-user .card-user-header {
    padding: 20px;
    height: 150px;
    color: #fff;
    background: url("../images/user-bg.jpg") no-repeat center center;
    background-size: cover
}
.card-user .card-user-username {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}
.card-user .card-user-desc, .card-user .card-user-username {
    margin-top: 0;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
}
.card-user .card-user-image {
    position: absolute;
    top: 105px;
    left: 50%;
    margin-left: -45px;
}
.card-user .card-user-image>img {
    width: 90px;
    height: 90px;
    border: 2px solid #fff;
}
.card-user .card-user-footer {
    padding: 45px 30px 10px;
}
.card-user .description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.card-user .description-block>.description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}

/**

 */
.post-header,.aside-header {
    padding: 10px 25px;
    border-bottom: 1px dashed #ebebeb;
    text-align: center;
    font-size: small;
}
.post-footer {
    border-top: 1px dashed #ebebeb;
    padding: 10px 25px;
    font-size: 14px;
}
.post-footer a {
    color: #6c757d;
}
.post-info-panel {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 14px 20px 8px;
    color: #495057;
    font-size: 14px;
}
.post-info-panel .info,
.post-info-panel .info a {
    color: #8a8a8a;
    margin: 0;
}
.text-muted a {
    color: #6c757d;
}

/**

 */
.copyright {
    height: 100%;
    background: #333;
    font-size: 13px;
    text-align: center;
    color: #aaa;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}